# safe bash
mkdir='mkdir -p'

# git
alias gs='git status'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit'

# rg
# alias rg='rg -M 256'

# ls
alias ll='ls -alF'
alias la='ls -aF'

alias swpcaps='setxkbmap -option caps:swapescape'

alias open='xdg-open'

alias cs="cht.sh"

alias poweroff="systemctl poweroff"
alias reboot="systemctl reboot"
alias susp="i3lock -c 000000 ; systemctl suspend"

alias cc="claude"

alias xr="xrandr --auto"

alias ff="fastfetch"

# NF lat long
alias rsnf="redshift -l 37.2275:-119.5179"
