# safe bash
mkdir='mkdir -p'

# git
alias gs='git status'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit'

# rg
alias rg='rg -M 256'

# ls
alias ll='ls -alF'
alias la='ls -aF'

alias open='xdg-open'

alias fd='fdfind'

alias cs="cht.sh"

alias poweroff="sudo systemctl poweroff"
alias reboot="sudo systemctl reboot"
alias suspend="sudo systemctl suspend"
